
body {
    margin: 60px auto;
    width: 80%;
}

<!-- For Navigation Bar -->
<!-- For Navigation Bar Container -->
.navbar {
  overflow: hidden;
  background-color: #264d73;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.navbar ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

<!-- For links in Nav Bar -->
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

<!-- For dropdown container -->
.dropdown {
  float: left;
  overflow: hidden;
}

<!-- For dropdown button -->
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; <!-- Important for vertical align on mobile phones -->
  margin: 0; <!-- Important for vertical align on mobile phones -->
}

<!-- For background color when hovering over links in Nav Bar -->
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #18bc9c;
}

<!-- For content in dropdown -->
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

<!-- For links in dropdown -->
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

<!-- For background color when hovering over dropdown links -->
.dropdown-content a:hover {
  background-color: #e5e5e5;
}

<!-- For showing dropdown on hover -->
.dropdown:hover .dropdown-content {
  display: block;
}
<!-- End of Navigation Bar -->

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #18bc9c;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
