body {
    margin: 60px auto;
    width: 70%;
}

ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.5em;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 15px;
}

/* Hoverable dropdown */
/* Dropdown button */
.dropbtn {
  background-color: inherit;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  color: #18bc9c;
  padding: 10px;
  border: 1px solid #18bc9c;
}

/* For links in dropdown button */
.dropbtn a {
  text-decoration: none;
  color: #18bc9c;
}

/* Change color of button when hovering */
.dropbtn:hover, .dropbtn a:hover {
    background-color: #18bc9c;
    color: white;
}

/* Position dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links in dropdown content */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

/* Change color of dropdown content links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* End hoverable dropdown */

/* Link styles */
a {
    text-decoration: none;
    color: #18bc9c;
}

a:hover {
    text-decoration: underline;
}
/* End of Link styles */

/* Header and paragraph styles */
h1 {
    font-size: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 30px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 21px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 16px;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
/* End of Header and paragraph styles */

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
