body {
    margin: 60px auto;
    width: 75%;
}

ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
}

/* Hoverable dropdown */
/* Navbar container */
.navbar {
  overflow: hidden;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  font-weight: bold;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #18bc9c;
  text-align: center;
  margin-right: 10px;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #18bc9c;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #18bc9c;
  outline: none;
  color: #18bc9c;
  margin-right: 20px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #18bc9c;
  color: white;
  text-decoration: none;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-right: 0px;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f2f2f2;
  color: black;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* End hoverable dropdown */

/* Link styles */
a {
    text-decoration: none;
    color: #18bc9c;
}

a:hover {
    text-decoration: underline;
}
/* End of Link styles */

/* Header and paragraph styles */
h1 {
    font-size: 40px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 30px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h3 {
    font-size: 21px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 16px;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
/* End of Header and paragraph styles */

/* Footer styles */
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 15px;
}
/* End of footer styles*/

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
